<h1>Feed</h1>

<div class="feed">

<ul>
{{#each  itemController="insight" }}

  <li>
  <div class="author">
   <img class="avatar" {{bindAttr src="avatar_url"}} />
   <span class="caption">{{nickname}} added</span>
   <span class="time">1h</span>
  </div>

  <span class="visual">
    <img class="chart" {{bind-attr src="thumbNail"}} />
  </span>

  <span class="details">
    <a {{action "showInsight" this}}>{{name}}</a>
    
    <p>
      This chart shows all the non-html content within
      the CommonCrawl Corpus.
    </p>
  </span>

  </li>

{{/each}}
</ul>

</div>