<h1>
  Query: {{input value=name}}
  {{
    info-hotspot 
    body="
    <p>To get started, try a query in the form:</p>
    <code>select <em>field1</em>, <em>field2</em> from docs</code>
    <p>For more details, <a href='#/schemas'>see our query reference</a></p>
    "
  }}
</h1>

<div class="query">
<ul>
  <li>
  
  {{ view App.EditorView  class="sql-editor" contentBinding="statement" }}

  <div class="btn-group">
    <a class="btn" {{action execute}}><i class="icon-road"></i>  Query</a>
    <button class="btn" {{action save}} {{bind-attr disabled="saveDisabled"}}><i class="icon-hdd"></i> Save</button>
  </div>

  <button class="btn" {{action visualize}} {{bind-attr disabled="visualizeDisabled"}}>
    <i class="icon-picture"></i> Visualize
  </button>

  <a class="btn" {{bind-attr href="url"}}><i class="icon-download-alt"></i> Download</a>

  <span class="pull-right">{{execution_time}}</span>
  </li>

</ul>

<div class="results">
{{view Ember.Table.TablesContainer }}
</div>

</div>