<h1>
  Query
  {{
    info-hotspot 
    body="
    <p>To get started, try a query in the form:</p>
    <code>select <em>field1</em>, <em>field2</em> from docs</code>
    <p>For more details, <a href='#/schemas'>see our query reference</a></p>
    "
  }}
</h1>

<div class="query">
<ul>
  <li>
  
  {{ view App.EditorView  class="sql-editor" contentBinding="query" }}

  <div class="btn-group">
    <a class="btn" {{action execute}}><i class="icon-road"></i>  Query</a>
    <a class="btn" {{action save}}><i class="icon-hdd"></i> Save</a>
  </div>
  <a class="btn" {{action save}}><i class="icon-download-alt"></i> Download</a>
  </li>
</ul>

<div class="results">
{{view Ember.Table.TablesContainer controllerBinding="controllers.insightTable"}}
</div>

</div>