<ul >
  <li class="editor">

    <div class="data-source">
      {{#linkTo 'query' query}}{{statement}}{{/linkTo}}
    </div>

    {{ view App.EditorView contentBinding="model.content" }}
    
    <div class="btn-group">
    {{#each modelActions}}
      <button class="btn" {{action dispatch action}}>
        <i {{bind-attr class="icon"}}></i>  {{title}}
      </button>
    {{/each}}
    </div>

 
    {{#linkTo 'query.insight' query this class="btn"}}<i class="icon-th"></i> Data{{/linkTo}}
    <span class="pull-right">{{execution_time}}</span>
  </li>
  <li class="chart"></li>
</ul>
